(n8n-workflows)/coe_n8n_coe_untrust_eu_de_prod_tddrift_jules_n/RFI Agent.json
{
    "updatedAt": "2026-03-27T11:34:19.337Z",
    "createdAt": "2026-03-02T13:34:13.594Z",
    "id": "OxplTFYVkEM_iGJMuU5RX",
    "name": "RFI Agent",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.preparedPrompt || $json.question || $json.chatInput || $json.message || $json.text || $json.body?.chatInput || $json.body?.message || $json.body?.text || \"\" }}",
                "options": {
                    "systemMessage": "You are the Tradedoubler RFI assistant.\n\nEach incoming item contains exactly one isolated question and two pre-retrieved evidence blocks.\nAnswer only that question using ONLY the supplied evidence blocks.\nDo not use outside knowledge. Do not guess.\nIf the evidence does not support a direct answer, return exactly:\nNot confirmed in the approved knowledge base.\n\nRules:\n- Prefer curated evidence over fallback evidence.\n- Use fallback evidence when curated evidence is missing, partial, or not directly relevant.\n- For yes/no questions, use Yes. or No. only with explicit evidence.\n- If only fallback evidence supports the answer, add one line before Evidence: Legacy/expanded evidence used; verify if policy has changed.\n- When confirmed, include an Evidence section with 1-3 bullets in this format:\n  - [ID] <source file> - <evidence reference>",
                    "returnIntermediateSteps": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -2080,
                -928
            ],
            "id": "6147e02d-ab4e-4d31-9f43-07f2db43a876",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -3312,
                -624
            ],
            "id": "3a6f3987-1800-43f6-9328-8d8d22c5d341",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "L4g2aVcKF4eab59w",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.sessionId || $json.sessionId || ('rfi-' + $execution.id) }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                -3104,
                -320
            ],
            "id": "9cd5470a-66f7-46e1-bb9b-723a8cd2dfa6",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "model": "text-embedding-3-large",
                "options": {
                    "dimensions": 1024
                }
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                -2752,
                -368
            ],
            "id": "cf632582-bd8c-478d-9472-326ce898a0bb",
            "name": "Embeddings OpenAI1",
            "credentials": {
                "openAiApi": {
                    "id": "L4g2aVcKF4eab59w",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "6b55959d-96d7-46c5-be2e-11fa3736e1c3",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -3440,
                -928
            ],
            "id": "fffac770-cfea-4402-ad54-51ed8759bd2f",
            "name": "Webhook",
            "webhookId": "6b55959d-96d7-46c5-be2e-11fa3736e1c3"
        },
        {
            "parameters": {
                "jsCode": "const raw = $json.chatInput || $json.message || $json.text || $json.body?.chatInput || $json.body?.message || $json.body?.text || \"\";\nconst sessionId = $json.body?.sessionId || $json.sessionId || ('rfi-' + $execution.id);\nconst normalized = String(raw || \"\").replace(/\\r\\n/g, \"\\n\").trim();\n\nif (!normalized) {\n  return [{ json: { questionNumber: 1, question: \"\", rawQuestion: \"\", sessionId, originalInput: \"\" } }];\n}\n\nconst matches = normalized.match(/^\\s*\\d+\\.\\s*Question:.*?(?=^\\s*\\d+\\.\\s*Question:|\\Z)/gms)\n  || normalized.match(/^\\s*\\d+\\.\\s+.*?(?=^\\s*\\d+\\.\\s+|\\Z)/gms)\n  || normalized.match(/Question:.*?(?=^Question:|\\Z)/gms)\n  || [normalized];\n\nreturn matches\n  .map((block, index) => {\n    const cleaned = String(block || \"\").trim();\n    const questionMatch = cleaned.match(/Question:\\s*(.+?)(?:\\nAnswer:|$)/is);\n    const question = (questionMatch?.[1] || cleaned).trim();\n\n    return {\n      json: {\n        questionNumber: index + 1,\n        question,\n        rawQuestion: cleaned,\n        sessionId,\n        originalInput: normalized\n      }\n    };\n  })\n  .filter((item) => item.json.question);"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3328,
                -928
            ],
            "id": "3a791c72-3294-4d91-880a-41c0904954bf",
            "name": "Split Questions"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  reply: $json.output ?? $json.answer ?? $json.message ?? $json.text ?? \"\",\n  answers: $json.answers ?? [],\n  sessionId: $json.sessionId ?? $json.session_id ?? $json.body?.sessionId ?? \"\",\n  sources: $json.sources ?? $json.citations ?? []\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -2640,
                -928
            ],
            "id": "a92c36b8-6ce2-4ef4-83b2-4c226c8fd2d2",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst answers = items\n  .map((item) => {\n    const json = item.json || {};\n    return {\n      questionNumber: json.questionNumber || 1,\n      question: json.question || json.rawQuestion || \"\",\n      answer: json.output || json.answer || json.message || json.text || \"\",\n      sessionId: json.sessionId || \"\",\n      sources: json.sources || json.citations || []\n    };\n  })\n  .sort((a, b) => a.questionNumber - b.questionNumber);\n\nconst successful = answers.filter((item) => String(item.answer || \"\").trim().length > 0).length;\nconst output = answers.length <= 1\n  ? (answers[0]?.answer || \"\")\n  : `Processed ${answers.length} questions (${successful} successful).\\n\\n${answers.map((item) => `${item.questionNumber}. Question: ${item.question}\\nAnswer: ${item.answer}`).join(\"\\n\\n\")}`;\n\nreturn [{\n  json: {\n    output,\n    answers,\n    sessionId: answers[0]?.sessionId || \"\",\n    sources: answers.flatMap((item) => item.sources || [])\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2848,
                -928
            ],
            "id": "cb3e6dc4-b98b-49ce-aa87-671f92eccf1e",
            "name": "Aggregate Answers"
        },
        {
            "parameters": {
                "mode": "getMany",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "td-qb-rag-openai-1024",
                    "mode": "list",
                    "cachedResultName": "td-qb-rag-openai-1024"
                },
                "prompt": "={{ $json.question }}",
                "topK": 8,
                "limit": 8,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                -3008,
                -1088
            ],
            "name": "Pinecone Vector Store (Curated)",
            "id": "d51839f5-9969-4504-bae5-be9f802a70ed",
            "credentials": {
                "pineconeApi": {
                    "id": "QP9tH8SyhUozjDw6",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "mode": "getMany",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "td-unified-rag-openai-1024",
                    "mode": "list",
                    "cachedResultName": "td-unified-rag-openai-1024"
                },
                "prompt": "={{ $json.question }}",
                "topK": 10,
                "limit": 10,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                -3008,
                -736
            ],
            "name": "Pinecone Vector Store (Fallback Unified)",
            "id": "2f9d5f11-a5e0-4c17-94d9-e63fd5a26ef0",
            "credentials": {
                "pineconeApi": {
                    "id": "QP9tH8SyhUozjDw6",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "function getOriginalQuestion() {\n  try {\n    return $('Split Questions').item.json;\n  } catch (error) {\n    try {\n      return $('Split Questions').first().json;\n    } catch (innerError) {\n      return {};\n    }\n  }\n}\n\nfunction normalizeHit(item, index) {\n  const json = item.json || {};\n  const document = json.document || {};\n  const metadata = json.metadata || document.metadata || {};\n  const text = document.pageContent\n    || json.pageContent\n    || json.text\n    || json.content\n    || json.chunk_text\n    || json.starter_answer\n    || metadata.starter_answer\n    || metadata.chunk_text\n    || '';\n\n  return {\n    rank: index + 1,\n    score: json.score ?? json.similarity ?? json.similarityScore ?? document.score ?? null,\n    text: String(text || '').trim(),\n    metadata,\n    question_id: metadata.question_id || json.question_id || '',\n    evidence_reference: metadata.evidence_reference || json.evidence_reference || '',\n    source_file: metadata.source_file || metadata.source || json.source || document.source || ''\n  };\n}\n\nconst original = getOriginalQuestion();\nconst hits = $input.all().map(normalizeHit).filter((hit) => hit.text || hit.evidence_reference || hit.source_file);\n\nreturn [{\n  json: {\n    questionNumber: original.questionNumber || 1,\n    question: original.question || original.rawQuestion || '',\n    rawQuestion: original.rawQuestion || original.question || '',\n    sessionId: original.sessionId || '',\n    curatedHits: hits\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2768,
                -1088
            ],
            "id": "72ce7c21-dd62-4adc-a731-55b94c5de70e",
            "name": "Collect Curated Evidence"
        },
        {
            "parameters": {
                "jsCode": "function getOriginalQuestion() {\n  try {\n    return $('Split Questions').item.json;\n  } catch (error) {\n    try {\n      return $('Split Questions').first().json;\n    } catch (innerError) {\n      return {};\n    }\n  }\n}\n\nfunction normalizeHit(item, index) {\n  const json = item.json || {};\n  const document = json.document || {};\n  const metadata = json.metadata || document.metadata || {};\n  const text = document.pageContent\n    || json.pageContent\n    || json.text\n    || json.content\n    || json.chunk_text\n    || json.starter_answer\n    || metadata.starter_answer\n    || metadata.chunk_text\n    || '';\n\n  return {\n    rank: index + 1,\n    score: json.score ?? json.similarity ?? json.similarityScore ?? document.score ?? null,\n    text: String(text || '').trim(),\n    metadata,\n    question_id: metadata.question_id || json.question_id || '',\n    evidence_reference: metadata.evidence_reference || json.evidence_reference || '',\n    source_file: metadata.source_file || metadata.source || json.source || document.source || ''\n  };\n}\n\nconst original = getOriginalQuestion();\nconst hits = $input.all().map(normalizeHit).filter((hit) => hit.text || hit.evidence_reference || hit.source_file);\n\nreturn [{\n  json: {\n    questionNumber: original.questionNumber || 1,\n    question: original.question || original.rawQuestion || '',\n    rawQuestion: original.rawQuestion || original.question || '',\n    sessionId: original.sessionId || '',\n    fallbackHits: hits\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2768,
                -736
            ],
            "id": "fe43ee9a-f933-4109-b191-b37c148b5a0e",
            "name": "Collect Fallback Evidence"
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                -2528,
                -928
            ],
            "id": "93b262e2-bbc4-43fc-96da-8c194bbf9507",
            "name": "Merge Retrieved Evidence"
        },
        {
            "parameters": {
                "jsCode": "function formatHits(label, hits) {\n  if (!Array.isArray(hits) || hits.length === 0) {\n    return `${label}: none`;\n  }\n\n  return `${label}:\\n` + hits.slice(0, 8).map((hit, index) => {\n    const meta = hit.metadata || {};\n    const id = hit.question_id || meta.question_id || 'N/A';\n    const source = hit.source_file || meta.source_file || meta.source || 'Unknown source';\n    const ref = hit.evidence_reference || meta.evidence_reference || 'No evidence reference';\n    const score = hit.score === null || hit.score === undefined ? 'n/a' : String(hit.score);\n    const text = String(hit.text || '').replace(/\\s+/g, ' ').trim();\n    return [\n      `${index + 1}. [${id}] ${source} | ${ref} | score=${score}`,\n      text ? `   ${text}` : '   (no text returned)'\n    ].join('\\n');\n  }).join('\\n');\n}\n\nconst question = String($json.question || $json.rawQuestion || '').trim();\nconst curatedHits = Array.isArray($json.curatedHits) ? $json.curatedHits : [];\nconst fallbackHits = Array.isArray($json.fallbackHits) ? $json.fallbackHits : [];\n\nconst preparedPrompt = [\n  `Question:\\n${question}`,\n  formatHits('Curated evidence', curatedHits),\n  formatHits('Fallback evidence', fallbackHits),\n  'Instructions:',\n  '- Answer only the question shown above.',\n  '- Use ONLY facts from the evidence blocks.',\n  '- Prefer curated evidence over fallback evidence.',\n  '- Use fallback evidence when curated evidence is missing, partial, or not directly relevant.',\n  '- If the evidence does not support a direct answer, return exactly: Not confirmed in the approved knowledge base.',\n  '- For yes/no questions, use Yes. or No. only with explicit evidence.',\n  '- When confirmed, include an Evidence section with 1-3 bullets using this format: - [ID] <source file> - <evidence reference>.',\n  '- If only fallback evidence supports the answer, add one line before Evidence: Legacy/expanded evidence used; verify if policy has changed.'\n].join('\\n\\n');\n\nreturn [{\n  json: {\n    questionNumber: $json.questionNumber || 1,\n    question,\n    rawQuestion: $json.rawQuestion || question,\n    sessionId: $json.sessionId || '',\n    curatedHits,\n    fallbackHits,\n    preparedPrompt\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2304,
                -928
            ],
            "id": "31994cc7-0965-4dc4-a783-f4b8366618b6",
            "name": "Build Answer Prompt"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Split Questions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Questions": {
            "main": [
                [
                    {
                        "node": "Pinecone Vector Store (Curated)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Pinecone Vector Store (Fallback Unified)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Vector Store (Curated)": {
            "main": [
                [
                    {
                        "node": "Collect Curated Evidence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Vector Store (Fallback Unified)": {
            "main": [
                [
                    {
                        "node": "Collect Fallback Evidence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Curated Evidence": {
            "main": [
                [
                    {
                        "node": "Merge Retrieved Evidence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Fallback Evidence": {
            "main": [
                [
                    {
                        "node": "Merge Retrieved Evidence",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Retrieved Evidence": {
            "main": [
                [
                    {
                        "node": "Build Answer Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Answer Prompt": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Aggregate Answers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Answers": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI1": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Vector Store (Curated)",
                        "type": "ai_embedding",
                        "index": 0
                    },
                    {
                        "node": "Pinecone Vector Store (Fallback Unified)",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "2c474666-9bae-4538-bc77-5d8930f147cf",
    "activeVersionId": "2c474666-9bae-4538-bc77-5d8930f147cf",
    "versionCounter": 282,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-02T13:34:13.597Z",
            "createdAt": "2026-03-02T13:34:13.597Z",
            "role": "workflow:owner",
            "workflowId": "OxplTFYVkEM_iGJMuU5RX",
            "projectId": "IqHIsdVXEkPdOvJ4",
            "project": {
                "updatedAt": "2025-12-08T11:01:04.010Z",
                "createdAt": "2025-12-08T10:53:25.143Z",
                "id": "IqHIsdVXEkPdOvJ4",
                "name": "Harry Collins <harry.collins@tradedoubler.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "e6892419-3e4b-495f-b77a-39cdb99070d6",
                "projectRelations": [
                    {
                        "updatedAt": "2025-12-08T10:53:25.144Z",
                        "createdAt": "2025-12-08T10:53:25.144Z",
                        "userId": "e6892419-3e4b-495f-b77a-39cdb99070d6",
                        "projectId": "IqHIsdVXEkPdOvJ4",
                        "user": {
                            "updatedAt": "2026-03-27T08:25:45.000Z",
                            "createdAt": "2025-12-08T10:53:25.141Z",
                            "id": "e6892419-3e4b-495f-b77a-39cdb99070d6",
                            "email": "harry.collins@tradedoubler.com",
                            "firstName": "Harry",
                            "lastName": "Collins",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-12-08T11:01:32.961Z",
                                "personalization_survey_n8n_version": "1.116.2",
                                "automationGoalDevops": [
                                    "data-syncing"
                                ],
                                "companySize": "100-499",
                                "companyType": "systems-integrator",
                                "role": "engineering",
                                "reportedSource": "event"
                            },
                            "settings": {
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "8mWt7YMh0V37zH81",
                                "userActivated": true,
                                "userActivatedAt": 1765450554895,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1765784518443
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-26",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-27T11:34:19.339Z",
        "createdAt": "2026-03-27T11:34:19.339Z",
        "versionId": "2c474666-9bae-4538-bc77-5d8930f147cf",
        "workflowId": "OxplTFYVkEM_iGJMuU5RX",
        "nodes": [
            {
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $json.preparedPrompt || $json.question || $json.chatInput || $json.message || $json.text || $json.body?.chatInput || $json.body?.message || $json.body?.text || \"\" }}",
                    "options": {
                        "systemMessage": "You are the Tradedoubler RFI assistant.\n\nEach incoming item contains exactly one isolated question and two pre-retrieved evidence blocks.\nAnswer only that question using ONLY the supplied evidence blocks.\nDo not use outside knowledge. Do not guess.\nIf the evidence does not support a direct answer, return exactly:\nNot confirmed in the approved knowledge base.\n\nRules:\n- Prefer curated evidence over fallback evidence.\n- Use fallback evidence when curated evidence is missing, partial, or not directly relevant.\n- For yes/no questions, use Yes. or No. only with explicit evidence.\n- If only fallback evidence supports the answer, add one line before Evidence: Legacy/expanded evidence used; verify if policy has changed.\n- When confirmed, include an Evidence section with 1-3 bullets in this format:\n  - [ID] <source file> - <evidence reference>",
                        "returnIntermediateSteps": false
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 3.1,
                "position": [
                    -2080,
                    -928
                ],
                "id": "6147e02d-ab4e-4d31-9f43-07f2db43a876",
                "name": "AI Agent"
            },
            {
                "parameters": {
                    "model": {
                        "__rl": true,
                        "value": "gpt-4.1-mini",
                        "mode": "list",
                        "cachedResultName": "gpt-4.1-mini"
                    },
                    "builtInTools": {},
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1.3,
                "position": [
                    -3312,
                    -624
                ],
                "id": "3a6f3987-1800-43f6-9328-8d8d22c5d341",
                "name": "OpenAI Chat Model",
                "credentials": {
                    "openAiApi": {
                        "id": "L4g2aVcKF4eab59w",
                        "name": "OpenAi account 2"
                    }
                }
            },
            {
                "parameters": {
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $json.body.sessionId || $json.sessionId || ('rfi-' + $execution.id) }}"
                },
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    -3104,
                    -320
                ],
                "id": "9cd5470a-66f7-46e1-bb9b-723a8cd2dfa6",
                "name": "Simple Memory"
            },
            {
                "parameters": {
                    "model": "text-embedding-3-large",
                    "options": {
                        "dimensions": 1024
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
                "typeVersion": 1.2,
                "position": [
                    -2752,
                    -368
                ],
                "id": "cf632582-bd8c-478d-9472-326ce898a0bb",
                "name": "Embeddings OpenAI1",
                "credentials": {
                    "openAiApi": {
                        "id": "L4g2aVcKF4eab59w",
                        "name": "OpenAi account 2"
                    }
                }
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "6b55959d-96d7-46c5-be2e-11fa3736e1c3",
                    "responseMode": "responseNode",
                    "options": {
                        "allowedOrigins": "*"
                    }
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    -3440,
                    -928
                ],
                "id": "fffac770-cfea-4402-ad54-51ed8759bd2f",
                "name": "Webhook",
                "webhookId": "6b55959d-96d7-46c5-be2e-11fa3736e1c3"
            },
            {
                "parameters": {
                    "jsCode": "const raw = $json.chatInput || $json.message || $json.text || $json.body?.chatInput || $json.body?.message || $json.body?.text || \"\";\nconst sessionId = $json.body?.sessionId || $json.sessionId || ('rfi-' + $execution.id);\nconst normalized = String(raw || \"\").replace(/\\r\\n/g, \"\\n\").trim();\n\nif (!normalized) {\n  return [{ json: { questionNumber: 1, question: \"\", rawQuestion: \"\", sessionId, originalInput: \"\" } }];\n}\n\nconst matches = normalized.match(/^\\s*\\d+\\.\\s*Question:.*?(?=^\\s*\\d+\\.\\s*Question:|\\Z)/gms)\n  || normalized.match(/^\\s*\\d+\\.\\s+.*?(?=^\\s*\\d+\\.\\s+|\\Z)/gms)\n  || normalized.match(/Question:.*?(?=^Question:|\\Z)/gms)\n  || [normalized];\n\nreturn matches\n  .map((block, index) => {\n    const cleaned = String(block || \"\").trim();\n    const questionMatch = cleaned.match(/Question:\\s*(.+?)(?:\\nAnswer:|$)/is);\n    const question = (questionMatch?.[1] || cleaned).trim();\n\n    return {\n      json: {\n        questionNumber: index + 1,\n        question,\n        rawQuestion: cleaned,\n        sessionId,\n        originalInput: normalized\n      }\n    };\n  })\n  .filter((item) => item.json.question);"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -3328,
                    -928
                ],
                "id": "3a791c72-3294-4d91-880a-41c0904954bf",
                "name": "Split Questions"
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ {\n  reply: $json.output ?? $json.answer ?? $json.message ?? $json.text ?? \"\",\n  answers: $json.answers ?? [],\n  sessionId: $json.sessionId ?? $json.session_id ?? $json.body?.sessionId ?? \"\",\n  sources: $json.sources ?? $json.citations ?? []\n} }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.5,
                "position": [
                    -2640,
                    -928
                ],
                "id": "a92c36b8-6ce2-4ef4-83b2-4c226c8fd2d2",
                "name": "Respond to Webhook"
            },
            {
                "parameters": {
                    "jsCode": "const items = $input.all();\nconst answers = items\n  .map((item) => {\n    const json = item.json || {};\n    return {\n      questionNumber: json.questionNumber || 1,\n      question: json.question || json.rawQuestion || \"\",\n      answer: json.output || json.answer || json.message || json.text || \"\",\n      sessionId: json.sessionId || \"\",\n      sources: json.sources || json.citations || []\n    };\n  })\n  .sort((a, b) => a.questionNumber - b.questionNumber);\n\nconst successful = answers.filter((item) => String(item.answer || \"\").trim().length > 0).length;\nconst output = answers.length <= 1\n  ? (answers[0]?.answer || \"\")\n  : `Processed ${answers.length} questions (${successful} successful).\\n\\n${answers.map((item) => `${item.questionNumber}. Question: ${item.question}\\nAnswer: ${item.answer}`).join(\"\\n\\n\")}`;\n\nreturn [{\n  json: {\n    output,\n    answers,\n    sessionId: answers[0]?.sessionId || \"\",\n    sources: answers.flatMap((item) => item.sources || [])\n  }\n}];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2848,
                    -928
                ],
                "id": "cb3e6dc4-b98b-49ce-aa87-671f92eccf1e",
                "name": "Aggregate Answers"
            },
            {
                "parameters": {
                    "mode": "getMany",
                    "pineconeIndex": {
                        "__rl": true,
                        "value": "td-qb-rag-openai-1024",
                        "mode": "list",
                        "cachedResultName": "td-qb-rag-openai-1024"
                    },
                    "prompt": "={{ $json.question }}",
                    "topK": 8,
                    "limit": 8,
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
                "typeVersion": 1.3,
                "position": [
                    -3008,
                    -1088
                ],
                "name": "Pinecone Vector Store (Curated)",
                "id": "d51839f5-9969-4504-bae5-be9f802a70ed",
                "credentials": {
                    "pineconeApi": {
                        "id": "QP9tH8SyhUozjDw6",
                        "name": "PineconeApi account"
                    }
                }
            },
            {
                "parameters": {
                    "mode": "getMany",
                    "pineconeIndex": {
                        "__rl": true,
                        "value": "td-unified-rag-openai-1024",
                        "mode": "list",
                        "cachedResultName": "td-unified-rag-openai-1024"
                    },
                    "prompt": "={{ $json.question }}",
                    "topK": 10,
                    "limit": 10,
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
                "typeVersion": 1.3,
                "position": [
                    -3008,
                    -736
                ],
                "name": "Pinecone Vector Store (Fallback Unified)",
                "id": "2f9d5f11-a5e0-4c17-94d9-e63fd5a26ef0",
                "credentials": {
                    "pineconeApi": {
                        "id": "QP9tH8SyhUozjDw6",
                        "name": "PineconeApi account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "function getOriginalQuestion() {\n  try {\n    return $('Split Questions').item.json;\n  } catch (error) {\n    try {\n      return $('Split Questions').first().json;\n    } catch (innerError) {\n      return {};\n    }\n  }\n}\n\nfunction normalizeHit(item, index) {\n  const json = item.json || {};\n  const document = json.document || {};\n  const metadata = json.metadata || document.metadata || {};\n  const text = document.pageContent\n    || json.pageContent\n    || json.text\n    || json.content\n    || json.chunk_text\n    || json.starter_answer\n    || metadata.starter_answer\n    || metadata.chunk_text\n    || '';\n\n  return {\n    rank: index + 1,\n    score: json.score ?? json.similarity ?? json.similarityScore ?? document.score ?? null,\n    text: String(text || '').trim(),\n    metadata,\n    question_id: metadata.question_id || json.question_id || '',\n    evidence_reference: metadata.evidence_reference || json.evidence_reference || '',\n    source_file: metadata.source_file || metadata.source || json.source || document.source || ''\n  };\n}\n\nconst original = getOriginalQuestion();\nconst hits = $input.all().map(normalizeHit).filter((hit) => hit.text || hit.evidence_reference || hit.source_file);\n\nreturn [{\n  json: {\n    questionNumber: original.questionNumber || 1,\n    question: original.question || original.rawQuestion || '',\n    rawQuestion: original.rawQuestion || original.question || '',\n    sessionId: original.sessionId || '',\n    curatedHits: hits\n  }\n}];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2768,
                    -1088
                ],
                "id": "72ce7c21-dd62-4adc-a731-55b94c5de70e",
                "name": "Collect Curated Evidence"
            },
            {
                "parameters": {
                    "jsCode": "function getOriginalQuestion() {\n  try {\n    return $('Split Questions').item.json;\n  } catch (error) {\n    try {\n      return $('Split Questions').first().json;\n    } catch (innerError) {\n      return {};\n    }\n  }\n}\n\nfunction normalizeHit(item, index) {\n  const json = item.json || {};\n  const document = json.document || {};\n  const metadata = json.metadata || document.metadata || {};\n  const text = document.pageContent\n    || json.pageContent\n    || json.text\n    || json.content\n    || json.chunk_text\n    || json.starter_answer\n    || metadata.starter_answer\n    || metadata.chunk_text\n    || '';\n\n  return {\n    rank: index + 1,\n    score: json.score ?? json.similarity ?? json.similarityScore ?? document.score ?? null,\n    text: String(text || '').trim(),\n    metadata,\n    question_id: metadata.question_id || json.question_id || '',\n    evidence_reference: metadata.evidence_reference || json.evidence_reference || '',\n    source_file: metadata.source_file || metadata.source || json.source || document.source || ''\n  };\n}\n\nconst original = getOriginalQuestion();\nconst hits = $input.all().map(normalizeHit).filter((hit) => hit.text || hit.evidence_reference || hit.source_file);\n\nreturn [{\n  json: {\n    questionNumber: original.questionNumber || 1,\n    question: original.question || original.rawQuestion || '',\n    rawQuestion: original.rawQuestion || original.question || '',\n    sessionId: original.sessionId || '',\n    fallbackHits: hits\n  }\n}];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2768,
                    -736
                ],
                "id": "fe43ee9a-f933-4109-b191-b37c148b5a0e",
                "name": "Collect Fallback Evidence"
            },
            {
                "parameters": {
                    "mode": "combine",
                    "combinationMode": "mergeByPosition",
                    "options": {}
                },
                "type": "n8n-nodes-base.merge",
                "typeVersion": 2,
                "position": [
                    -2528,
                    -928
                ],
                "id": "93b262e2-bbc4-43fc-96da-8c194bbf9507",
                "name": "Merge Retrieved Evidence"
            },
            {
                "parameters": {
                    "jsCode": "function formatHits(label, hits) {\n  if (!Array.isArray(hits) || hits.length === 0) {\n    return `${label}: none`;\n  }\n\n  return `${label}:\\n` + hits.slice(0, 8).map((hit, index) => {\n    const meta = hit.metadata || {};\n    const id = hit.question_id || meta.question_id || 'N/A';\n    const source = hit.source_file || meta.source_file || meta.source || 'Unknown source';\n    const ref = hit.evidence_reference || meta.evidence_reference || 'No evidence reference';\n    const score = hit.score === null || hit.score === undefined ? 'n/a' : String(hit.score);\n    const text = String(hit.text || '').replace(/\\s+/g, ' ').trim();\n    return [\n      `${index + 1}. [${id}] ${source} | ${ref} | score=${score}`,\n      text ? `   ${text}` : '   (no text returned)'\n    ].join('\\n');\n  }).join('\\n');\n}\n\nconst question = String($json.question || $json.rawQuestion || '').trim();\nconst curatedHits = Array.isArray($json.curatedHits) ? $json.curatedHits : [];\nconst fallbackHits = Array.isArray($json.fallbackHits) ? $json.fallbackHits : [];\n\nconst preparedPrompt = [\n  `Question:\\n${question}`,\n  formatHits('Curated evidence', curatedHits),\n  formatHits('Fallback evidence', fallbackHits),\n  'Instructions:',\n  '- Answer only the question shown above.',\n  '- Use ONLY facts from the evidence blocks.',\n  '- Prefer curated evidence over fallback evidence.',\n  '- Use fallback evidence when curated evidence is missing, partial, or not directly relevant.',\n  '- If the evidence does not support a direct answer, return exactly: Not confirmed in the approved knowledge base.',\n  '- For yes/no questions, use Yes. or No. only with explicit evidence.',\n  '- When confirmed, include an Evidence section with 1-3 bullets using this format: - [ID] <source file> - <evidence reference>.',\n  '- If only fallback evidence supports the answer, add one line before Evidence: Legacy/expanded evidence used; verify if policy has changed.'\n].join('\\n\\n');\n\nreturn [{\n  json: {\n    questionNumber: $json.questionNumber || 1,\n    question,\n    rawQuestion: $json.rawQuestion || question,\n    sessionId: $json.sessionId || '',\n    curatedHits,\n    fallbackHits,\n    preparedPrompt\n  }\n}];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2304,
                    -928
                ],
                "id": "31994cc7-0965-4dc4-a783-f4b8366618b6",
                "name": "Build Answer Prompt"
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Split Questions",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Split Questions": {
                "main": [
                    [
                        {
                            "node": "Pinecone Vector Store (Curated)",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Pinecone Vector Store (Fallback Unified)",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Pinecone Vector Store (Curated)": {
                "main": [
                    [
                        {
                            "node": "Collect Curated Evidence",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Pinecone Vector Store (Fallback Unified)": {
                "main": [
                    [
                        {
                            "node": "Collect Fallback Evidence",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Collect Curated Evidence": {
                "main": [
                    [
                        {
                            "node": "Merge Retrieved Evidence",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Collect Fallback Evidence": {
                "main": [
                    [
                        {
                            "node": "Merge Retrieved Evidence",
                            "type": "main",
                            "index": 1
                        }
                    ]
                ]
            },
            "Merge Retrieved Evidence": {
                "main": [
                    [
                        {
                            "node": "Build Answer Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Answer Prompt": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent": {
                "main": [
                    [
                        {
                            "node": "Aggregate Answers",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Aggregate Answers": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Embeddings OpenAI1": {
                "ai_embedding": [
                    [
                        {
                            "node": "Pinecone Vector Store (Curated)",
                            "type": "ai_embedding",
                            "index": 0
                        },
                        {
                            "node": "Pinecone Vector Store (Fallback Unified)",
                            "type": "ai_embedding",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Harry Collins",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-27T11:34:19.393Z",
                "id": 108,
                "workflowId": "OxplTFYVkEM_iGJMuU5RX",
                "versionId": "2c474666-9bae-4538-bc77-5d8930f147cf",
                "event": "activated",
                "userId": "e6892419-3e4b-495f-b77a-39cdb99070d6"
            }
        ]
    }
}