(n8n-workflows)/coe_n8n_coe_untrust_eu_de_prod_tddrift_jules_n/RFI Agent.json
{
  "updatedAt": "2026-03-27T11:37:07.663Z",
  "createdAt": "2026-03-02T13:34:13.594Z",
  "id": "OxplTFYVkEM_iGJMuU5RX",
  "name": "RFI Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.message || $json.text || $json.body?.chatInput || $json.body?.message || $json.body?.text || \"\" }}",
        "options": {
          "systemMessage": "You are the Tradedoubler RFI assistant.\n\nQuestion isolation:\n- Treat each user question as standalone, even in multi-question input.\n- Do not use previous question context to interpret the current question.\n- If wording includes \"this question\", interpret it as the current question only.\n\nUser-facing style:\n- Keep answers factual, concise, and professional.\n- Never mention internal implementation details, system architecture, workflow nodes, vector databases, tool names, or vendor names.\n- If asked about source priority, describe it in plain language only.\n\nDecision flow:\n1) If the user asks about assistant/workflow behavior, answer directly from configured behavior below (no retrieval needed).\n2) Otherwise treat it as factual/compliance and use approved knowledge sources.\n\nConfigured assistant behavior:\n- Supports single-question and multi-question submissions.\n- Supports pasted questions and uploaded files (.pdf, .docx, .xlsx).\n- Evidence priority is:\n  1) curated approved question-bank evidence\n  2) expanded fallback corpus, including legacy approved attachments, when curated evidence is missing, partial, or not directly relevant.\n- Conflict resolution priority is:\n  1) curated_answer=true\n  2) newer source_year\n  3) most direct match to question terms\n\nMandatory retrieval policy for factual/compliance answers:\n- Query the curated source first.\n- If the curated source does not explicitly answer the question, do not stop there: also query the expanded fallback corpus before concluding partial or not confirmed.\n- For vendor/contact/location/data-category/interface/service-detail questions, query the expanded fallback corpus even if curated evidence returns nearby but incomplete hits.\n- Never conclude \"Not confirmed in the approved knowledge base.\" until both curated and fallback retrieval have been considered.\n\nMeta/policy question handling (no retrieval required):\n- For questions about evidence sources, source priority, or conflict handling, answer from configured behavior above.\n- For these meta answers, do not output Evidence section.\n- Do not name internal tools or platforms.\n\nGrounding for factual/compliance answers:\n- Use ONLY facts from retrieved approved knowledge-base evidence.\n- Prefer metadata.starter_answer when present; otherwise use metadata.chunk_text.\n- Never use outside knowledge.\n\nRelevance rules:\n- Extract key terms from the question and prioritize hits that directly match those terms.\n- Expand retrieval intent to likely aliases and answer forms when useful, such as email/contact recipient, country/location/hosting region, data category/classification, business unit/segment/team, service/interface/platform, and existing/current/live.\n- For composite questions (frequency + owner, SLA + trigger, region + restriction), try to cover all required parts.\n\nCoverage-first answer policy:\n- If evidence is explicit and complete, provide a direct answer.\n- If evidence is relevant but not fully explicit/complete, provide a clearly labeled best-available answer and include this exact line before Evidence:\n  Requires policy confirmation.\n- Use \"Not confirmed in the approved knowledge base.\" only when there is no relevant evidence after retrieval.\n\nBinary questions:\n- Prefer exact first line values when evidence is explicit:\n  Yes.\n  No.\n- If evidence is relevant but not fully explicit, use one of:\n  Likely yes (requires policy confirmation).\n  Likely no (requires policy confirmation).\n- If there is no relevant evidence, use:\n  Not confirmed in the approved knowledge base.\n\nIf fallback evidence is used:\n- Add one line before Evidence section:\n  Legacy/expanded evidence used; verify if policy has changed.\n\nEvidence format (for any answer other than pure not-confirmed):\n- Keep answer concise and client-facing.\n- Include Evidence section with 1-3 bullets.\n- Each bullet must include question_id and evidence_reference:\n  - [ID] <source file> - <evidence reference>",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3072,
        -928
      ],
      "id": "6147e02d-ab4e-4d31-9f43-07f2db43a876",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3312,
        -624
      ],
      "id": "3a6f3987-1800-43f6-9328-8d8d22c5d341",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId || $json.sessionId || ('rfi-' + $execution.id) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3104,
        -320
      ],
      "id": "9cd5470a-66f7-46e1-bb9b-723a8cd2dfa6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2752,
        -368
      ],
      "id": "cf632582-bd8c-478d-9472-326ce898a0bb",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6b55959d-96d7-46c5-be2e-11fa3736e1c3",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3440,
        -928
      ],
      "id": "fffac770-cfea-4402-ad54-51ed8759bd2f",
      "name": "Webhook",
      "webhookId": "6b55959d-96d7-46c5-be2e-11fa3736e1c3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  reply: $json.output ?? $json.answer ?? $json.message ?? $json.text ?? \"\",\n  sessionId: $json.sessionId ?? $json.session_id ?? $json.body?.sessionId ?? \"\",\n  sources: $json.sources ?? $json.citations ?? []\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2640,
        -928
      ],
      "id": "a92c36b8-6ce2-4ef4-83b2-4c226c8fd2d2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Primary source: curated, approved RFI question-bank answers.\nUse this tool first for all factual/compliance questions.\nPrefer starter_answer and canonical_question from the most relevant hit.\nIf the top curated hits are nearby but incomplete, use the fallback corpus before concluding partial or not confirmed.\nAlways cite question_id and evidence_reference.",
        "pineconeIndex": {
          "__rl": true,
          "value": "td-qb-rag-openai-1024",
          "mode": "list",
          "cachedResultName": "td-qb-rag-openai-1024"
        },
        "topK": 24,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_kind",
                "value": "question_bank"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2560,
        -608
      ],
      "name": "Pinecone Vector Store (Curated)",
      "id": "d51839f5-9969-4504-bae5-be9f802a70ed",
      "credentials": {
        "pineconeApi": {
          "id": "QP9tH8SyhUozjDw6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Fallback source: expanded unified corpus, including approved attachment evidence and legacy material.\nUse this whenever curated evidence is missing, partial, or too indirect to answer the question confidently.\nEspecially use it for contact emails, vendor location, hosting region, data categories/classification, interface or service details, business-unit usage, and similar procurement questionnaire fields.\nIf this tool is used for the final answer, add: 'Legacy/expanded evidence used; verify if policy has changed.'\nAlways cite question_id and evidence_reference.",
        "pineconeIndex": {
          "__rl": true,
          "value": "td-unified-rag-openai-1024",
          "mode": "list",
          "cachedResultName": "td-unified-rag-openai-1024"
        },
        "topK": 45,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2928,
        -608
      ],
      "name": "Pinecone Vector Store (Fallback Unified)",
      "id": "2f9d5f11-a5e0-4c17-94d9-e63fd5a26ef0",
      "credentials": {
        "pineconeApi": {
          "id": "QP9tH8SyhUozjDw6",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Curated)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store (Fallback Unified)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Curated)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Fallback Unified)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6b2763fd-50c0-4041-84f6-e207cd11fef7",
  "activeVersionId": "6b2763fd-50c0-4041-84f6-e207cd11fef7",
  "versionCounter": 285,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T13:34:13.597Z",
      "createdAt": "2026-03-02T13:34:13.597Z",
      "role": "workflow:owner",
      "workflowId": "OxplTFYVkEM_iGJMuU5RX",
      "projectId": "IqHIsdVXEkPdOvJ4",
      "project": {
        "updatedAt": "2025-12-08T11:01:04.010Z",
        "createdAt": "2025-12-08T10:53:25.143Z",
        "id": "IqHIsdVXEkPdOvJ4",
        "name": "Harry Collins <harry.collins@tradedoubler.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e6892419-3e4b-495f-b77a-39cdb99070d6",
        "projectRelations": [
          {
            "updatedAt": "2025-12-08T10:53:25.144Z",
            "createdAt": "2025-12-08T10:53:25.144Z",
            "userId": "e6892419-3e4b-495f-b77a-39cdb99070d6",
            "projectId": "IqHIsdVXEkPdOvJ4",
            "user": {
              "updatedAt": "2026-03-27T08:25:45.000Z",
              "createdAt": "2025-12-08T10:53:25.141Z",
              "id": "e6892419-3e4b-495f-b77a-39cdb99070d6",
              "email": "harry.collins@tradedoubler.com",
              "firstName": "Harry",
              "lastName": "Collins",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-08T11:01:32.961Z",
                "personalization_survey_n8n_version": "1.116.2",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companySize": "100-499",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "event"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "8mWt7YMh0V37zH81",
                "userActivated": true,
                "userActivatedAt": 1765450554895,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765784518443
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T11:37:07.664Z",
    "createdAt": "2026-03-27T11:37:07.664Z",
    "versionId": "6b2763fd-50c0-4041-84f6-e207cd11fef7",
    "workflowId": "OxplTFYVkEM_iGJMuU5RX",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput || $json.message || $json.text || $json.body?.chatInput || $json.body?.message || $json.body?.text || \"\" }}",
          "options": {
            "systemMessage": "You are the Tradedoubler RFI assistant.\n\nQuestion isolation:\n- Treat each user question as standalone, even in multi-question input.\n- Do not use previous question context to interpret the current question.\n- If wording includes \"this question\", interpret it as the current question only.\n\nUser-facing style:\n- Keep answers factual, concise, and professional.\n- Never mention internal implementation details, system architecture, workflow nodes, vector databases, tool names, or vendor names.\n- If asked about source priority, describe it in plain language only.\n\nDecision flow:\n1) If the user asks about assistant/workflow behavior, answer directly from configured behavior below (no retrieval needed).\n2) Otherwise treat it as factual/compliance and use approved knowledge sources.\n\nConfigured assistant behavior:\n- Supports single-question and multi-question submissions.\n- Supports pasted questions and uploaded files (.pdf, .docx, .xlsx).\n- Evidence priority is:\n  1) curated approved question-bank evidence\n  2) expanded fallback corpus, including legacy approved attachments, when curated evidence is missing, partial, or not directly relevant.\n- Conflict resolution priority is:\n  1) curated_answer=true\n  2) newer source_year\n  3) most direct match to question terms\n\nMandatory retrieval policy for factual/compliance answers:\n- Query the curated source first.\n- If the curated source does not explicitly answer the question, do not stop there: also query the expanded fallback corpus before concluding partial or not confirmed.\n- For vendor/contact/location/data-category/interface/service-detail questions, query the expanded fallback corpus even if curated evidence returns nearby but incomplete hits.\n- Never conclude \"Not confirmed in the approved knowledge base.\" until both curated and fallback retrieval have been considered.\n\nMeta/policy question handling (no retrieval required):\n- For questions about evidence sources, source priority, or conflict handling, answer from configured behavior above.\n- For these meta answers, do not output Evidence section.\n- Do not name internal tools or platforms.\n\nGrounding for factual/compliance answers:\n- Use ONLY facts from retrieved approved knowledge-base evidence.\n- Prefer metadata.starter_answer when present; otherwise use metadata.chunk_text.\n- Never use outside knowledge.\n\nRelevance rules:\n- Extract key terms from the question and prioritize hits that directly match those terms.\n- Expand retrieval intent to likely aliases and answer forms when useful, such as email/contact recipient, country/location/hosting region, data category/classification, business unit/segment/team, service/interface/platform, and existing/current/live.\n- For composite questions (frequency + owner, SLA + trigger, region + restriction), try to cover all required parts.\n\nCoverage-first answer policy:\n- If evidence is explicit and complete, provide a direct answer.\n- If evidence is relevant but not fully explicit/complete, provide a clearly labeled best-available answer and include this exact line before Evidence:\n  Requires policy confirmation.\n- Use \"Not confirmed in the approved knowledge base.\" only when there is no relevant evidence after retrieval.\n\nBinary questions:\n- Prefer exact first line values when evidence is explicit:\n  Yes.\n  No.\n- If evidence is relevant but not fully explicit, use one of:\n  Likely yes (requires policy confirmation).\n  Likely no (requires policy confirmation).\n- If there is no relevant evidence, use:\n  Not confirmed in the approved knowledge base.\n\nIf fallback evidence is used:\n- Add one line before Evidence section:\n  Legacy/expanded evidence used; verify if policy has changed.\n\nEvidence format (for any answer other than pure not-confirmed):\n- Keep answer concise and client-facing.\n- Include Evidence section with 1-3 bullets.\n- Each bullet must include question_id and evidence_reference:\n  - [ID] <source file> - <evidence reference>",
            "returnIntermediateSteps": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -3072,
          -928
        ],
        "id": "6147e02d-ab4e-4d31-9f43-07f2db43a876",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -3312,
          -624
        ],
        "id": "3a6f3987-1800-43f6-9328-8d8d22c5d341",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "L4g2aVcKF4eab59w",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.sessionId || $json.sessionId || ('rfi-' + $execution.id) }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -3104,
          -320
        ],
        "id": "9cd5470a-66f7-46e1-bb9b-723a8cd2dfa6",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "model": "text-embedding-3-large",
          "options": {
            "dimensions": 1024
          }
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -2752,
          -368
        ],
        "id": "cf632582-bd8c-478d-9472-326ce898a0bb",
        "name": "Embeddings OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "L4g2aVcKF4eab59w",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "6b55959d-96d7-46c5-be2e-11fa3736e1c3",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -3440,
          -928
        ],
        "id": "fffac770-cfea-4402-ad54-51ed8759bd2f",
        "name": "Webhook",
        "webhookId": "6b55959d-96d7-46c5-be2e-11fa3736e1c3"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ {\n  reply: $json.output ?? $json.answer ?? $json.message ?? $json.text ?? \"\",\n  sessionId: $json.sessionId ?? $json.session_id ?? $json.body?.sessionId ?? \"\",\n  sources: $json.sources ?? $json.citations ?? []\n} }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -2640,
          -928
        ],
        "id": "a92c36b8-6ce2-4ef4-83b2-4c226c8fd2d2",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Primary source: curated, approved RFI question-bank answers.\nUse this tool first for all factual/compliance questions.\nPrefer starter_answer and canonical_question from the most relevant hit.\nIf the top curated hits are nearby but incomplete, use the fallback corpus before concluding partial or not confirmed.\nAlways cite question_id and evidence_reference.",
          "pineconeIndex": {
            "__rl": true,
            "value": "td-qb-rag-openai-1024",
            "mode": "list",
            "cachedResultName": "td-qb-rag-openai-1024"
          },
          "topK": 24,
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "source_kind",
                  "value": "question_bank"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          -2560,
          -608
        ],
        "name": "Pinecone Vector Store (Curated)",
        "id": "d51839f5-9969-4504-bae5-be9f802a70ed",
        "credentials": {
          "pineconeApi": {
            "id": "QP9tH8SyhUozjDw6",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Fallback source: expanded unified corpus, including approved attachment evidence and legacy material.\nUse this whenever curated evidence is missing, partial, or too indirect to answer the question confidently.\nEspecially use it for contact emails, vendor location, hosting region, data categories/classification, interface or service details, business-unit usage, and similar procurement questionnaire fields.\nIf this tool is used for the final answer, add: 'Legacy/expanded evidence used; verify if policy has changed.'\nAlways cite question_id and evidence_reference.",
          "pineconeIndex": {
            "__rl": true,
            "value": "td-unified-rag-openai-1024",
            "mode": "list",
            "cachedResultName": "td-unified-rag-openai-1024"
          },
          "topK": 45,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          -2928,
          -608
        ],
        "name": "Pinecone Vector Store (Fallback Unified)",
        "id": "2f9d5f11-a5e0-4c17-94d9-e63fd5a26ef0",
        "credentials": {
          "pineconeApi": {
            "id": "QP9tH8SyhUozjDw6",
            "name": "PineconeApi account"
          }
        }
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store (Curated)",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Pinecone Vector Store (Fallback Unified)",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store (Curated)": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store (Fallback Unified)": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Harry Collins",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T11:37:07.722Z",
        "id": 109,
        "workflowId": "OxplTFYVkEM_iGJMuU5RX",
        "versionId": "6b2763fd-50c0-4041-84f6-e207cd11fef7",
        "event": "activated",
        "userId": "e6892419-3e4b-495f-b77a-39cdb99070d6"
      }
    ]
  }
}
